/*
  Syntax Highlighting
*/

.highlighter-rouge {
  @media (min-width: 74.1em) {
    width: 70%;
  }
}

.highlight {
  position: relative;
  color: #282828;
  // background: #f7f7f7;
  // background: rgb(203, 203, 255);
  background: #fbf1c7;
  
  .code-header {
    padding: 0.5%;
    border-bottom: 1px dashed #c9c8c8;
    .language-label {
      font-family: 'Volkhov', 'Times New Roman', Times, serif;
      color: var(--text-color);
      font-size: 15px;
      font-weight: bold;
      margin-left: 1.5%;
    }
    .clipboard {
      padding: 0% 2%;
      float: right;
      color: #c9c8c8;
      border-radius: 15%;
      &:hover {
        background-color: #a09f9f;
        color: white;
        cursor: pointer;
      }
    }
  }
  .err {
    color: #9d0006;
    font-weight: bold;
  }
  .c, .ch, .cd, .cm, .cpf, .c1, .cs,
  .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1,
  .si, .sr {
    color: #928374;
    font-style: italic;
  }
  .gh {
    color: #79740e;
    font-weight: bold;
  }
  .cp, .nn, .nc { color: #273c2f; }
  .nt, .gd, .k, .kn, .kp, .kr, .kv { color: #9d0006; }
  .o, .ow, .p, .pi { color: #282828; }
  .gi, .na { color: #79740e; }
  .kc, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx { color: #8f3f71; }
  .kt { color: #b57614; }
  .kd, .se { color: #af3a03; }
  .ss { color: #076678; }
}
.language-python .highlight { background: rgb(237, 249, 255); }
.language-ruby .highlight { background: rgb(255, 245, 248); }
.language-java .highlight { background: rgb(244, 253, 245); }
.language-javascript .highlight { background: rgb(255, 255, 240); }


html[data-theme="dark"]  {
  .highlight {
    color: #fbf1c7;
    // background: #454554;
    background: #282828;

    .err, .gd, .gi {
      color: #ef5b49;
      background-color: #282828;
      font-weight: bold;
    }
    .c, .ch, .cd, .cm, .cpf, .c1, .cs,
    .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1,
    .si, .sr {
      color: #928374;
      font-style: italic;
    }
    .gh {
      color: #b8bb26;
      font-weight: bold;
    }
    .cp, .nn, .nc { color: #8ec07c; }
    .nt, .k, .kn, .kp, .kr, .kv { color: #ef5b49; }
    .o, .ow, .p, .pi { color: #fbf1c7; }
    .kc, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx { color: #d3869b; }
    .kt { color: #fabd2f; }
    .kd, .se { color: #fe8019; }
    .na, .gi { color: #b8bb26; }
    .ss { color: #83a598; }
  }

  .language-python .highlight { background: #314047; }
  .language-ruby .highlight { background: #443b3b; }
  .language-java .highlight { background: #34473d; }
  .language-javascript .highlight { background: #3d443b; }

}
