---
layout: default
---
<a class="menu-trigger active" href="#">
  <span></span>
  <span></span>
  <span></span>
</a>
<aside class="c-sidebar">
  <div class="c-sidebar-author">

    <div class="isometric-scene">
      <div class="item outer-land">
          <div class="item one one-1"></div>
          <div class="item one one-2"></div>
          <div class="item one one-3"></div>
          <div class="item one one-4"></div>
          <div class="item one one-5"></div>
      </div>
    </div>

    <div class="c-author__cover">
      <a href="{{site.baseurl}}/">
        <img class="logo" id="logo">
      </a>
    </div>
    <div class="c-author__info">
      <div class="c-author__name">{{site.author-name}}</div>
      <span class="c-author__job">{{site.author-job}}</span>
    </div>


    <div class="c-contact-menu">
      <div class="theme-toggle night">
        <input class="night" type="checkbox" id="theme-switch">
        <label class="night" for="theme-switch">
            <div class="toggle night"></div>
              <div class="names night">             
              <p class="light night">
                <i class="fa-solid fa-sun" style="margin-top: 15px;"></i>
              </p>
              <p class="dark night">
                <i class="fa-solid fa-moon" style="margin-top: 15px;"></i>
              </p>
            </div>
        </label>
    </div>
    </div>
    <ul class="sidebar-menu">
      <li><a href="{{site.baseurl}}/about">About</a></li>
      <li><a href="{{site.baseurl}}/category/spring">Spring / Spring Boot</a></li>
      <li><a href="{{site.baseurl}}/category/database">Database</a></li>
      <li><a href="{{site.baseurl}}/category/coding-test">Coding Test</a></li>
  </ul>
  </div>
  
  <div class="c-sidebar-footer">
    <div class="c-social">
      <div class="c-social__title">Social</div>
      <ul class="c-social__list u-lists-reset">
        {% if site.social-twitter %}
          <li class="c-social__item"><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><div data-icon='ei-sc-twitter' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-facebook %}
          <li class="c-social__item"><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><div data-icon='ei-sc-facebook' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-github %}
          <li class="c-social__item"><a href="https://github.com/{{site.social-github}}" target="_blank"><div data-icon='ei-sc-github' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-pinterest %}
          <li class="c-social__item"><a href="https://pinterest.com/{{site.social-pinterest}}" target="_blank"><div data-icon='ei-sc-pinterest' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-instagram %}
          <li class="c-social__item"><a href="https://instagram.com/{{ site.social-instagram }}" target="_blank"><div data-icon='ei-sc-instagram' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-youtube %}
          <li class="c-social__item"><a href="https://youtube.com/{{ site.social-youtube }}" target="_blank"><div data-icon='ei-sc-youtube' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-vk %}
          <li class="c-social__item"><a href="https://vk.com/{{ site.social-vk }}" target="_blank"><div data-icon='ei-sc-vk' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
        {% if site.social-linkedin %}
          <li class="c-social__item"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><div data-icon='ei-sc-linkedin' data-size='s'></div></a></li>
        {% else %}
        {% endif %}
      </ul>
    </div>
    <div class="c-copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author-name}}</p>
    </div>
  </div>
</aside> <!-- /.c-sidebar -->

<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->
