/* ===============
	SCROLL TOP
=============== */

.c-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  right: 35px;
	bottom: 35px;
  border: 1px solid $gray-lighten;
  border-radius: 50%;
  color: $gray-dark;
	cursor: pointer;
	transition: $global-transition;
	z-index: 6666;
  opacity: .5;

  &--active {
    display: block;
  }

  &:hover {
    color: $gray-dark;
		opacity: 1;
  }
}
